.section1{
    .g-jumbo{
        display: flex;
        background-color: white;
        @include clearfix;
        .g-left{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h1{
                color: $b-green;
            }
        }
        .g-right{

        }
    }
}
